@charset "UTF-8";
//@import './weui.css';

/* CSS reset */
html{
  line-height: 1;
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  font-size: 100px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, textarea, blockquote, img { margin: 0; padding: 0; }
body {

  font-family: Helvetica, Tahoma, Arial,"Microsoft YaHei", "微软雅黑",  STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 0.14rem;
  color: #222;
  line-height: 1.6;
  -webkit-overflow-scrolling:touch;  
}
input, select, textarea { font-family: Tahoma, Helvetica, Arial, "微软雅黑" , "\5b8b\4f53", sans-serif; color: #222; outline-style: none;}
//select { appearance: none; -webkit-appearance: none;}
dl, ul, li, dt, dd { list-style: none; }
em, b, i, strong { font-style: normal; font-weight: normal; }
img { max-width: 100%; border: none; vertical-align: middle; }
h1, h2, h3, h5, h6 { font-weight: bold; color: #333; }
h4{font-weight: normal;}
input::-moz-focus-inner { padding: 0; }
input, select, textarea { outline-style: none; resize: none; }
button { outline: none;border: none;}
header, section, article, aside, footer { display: block; }
ul,ol {list-style: none;margin: 0;padding: 0;}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/*
移除chrome输入框的黄色背景
*/
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
border: none !important;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}
a {color: #222;text-decoration: none;}


.fr {float: right;}

//reset weui
.weui-cell:before {border-top: none;}

.weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}